<!DOCTYPE html>
<html lang="en">

<head>

    <title>登入</title>
    <%- include head%>
</head>

<body>

    <h3>曾哥牛逼！</h3>

    <div class="form-box">
        <form action="/users/login" method="post">
            <input type="text" name="username" placeholder="请输入用户名"><br/>
            <input type="password" name="password" placeholder="请输入密码"><br/>
            <input type="submit" name="" value="登入">
        </form>
        <div>没有账号，<a href="/regist">立即注册</a></div>
    </div>
</body>

</html>