<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="../../stylesheets/base.css">
    <link rel="stylesheet" href="../../fullPage.js-master/src/fullpage.css">
    <link rel="stylesheet" href="../../stylesheets/index.css">
    <link rel="icon" href="favicon.ico" />
    <script src="../../javascripts/jQuery.js"></script>
    <script src="../../fullPage.js-master/vendors/easings.min.js"></script>
    <script src="../../fullPage.js-master/vendors/scrolloverflow.min.js"></script>
    <script src="../../fullPage.js-master/src/fullpage.js"></script>
    <script src="../../javascripts/myPage.js"></script>
</head>

<body>

</body>